<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quoteme">

    <!--*** This is he manifest file which contains data regarding each activity ***-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_signup">

            <!--***DEFINES PARENT ACTIVITY TO ALL YOU GO GO BACK TO WHERE YOU LAST CAME***-->
            <!--***ANDROID:LABEL DEFINES THE NAME AT THE TOP OF THE APP BAR***-->
            <!--***SAME APPLIES TO ALL**-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity
            android:name=".RequestQuoteActivity"
            android:label="@string/app_requestQuote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".ManageQuoteActivity"
            android:label="@string/app_manageQuotes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>

        <!--Register Provider-->
        <provider
            android:name=".QuoteData.QuoteProvider"
            android:authorities="com.example.quoteme"
            android:exported="false" />
    </application>

</manifest>